
.register{
    width: 100%;
    display: flex;
    justify-content: center;
    background: #2d3037;
    height: 100vh;
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10rem;
    box-shadow: 0 1rem 2rem rgba(0,0,0,0.5);
    width: 80%;
    height: 45rem;
    max-width: 800px;
    padding: 3rem 2rem;
}

.heading{
    margin: 2rem 0 5rem 0;
    font-size: 3rem;
    color: white;
}

.message{
    font-size: 1.6rem;
    color: white;
    text-align: center;
    line-height: 1.6;
    margin-bottom: 1rem;
}

.input{
    width: 90%;
    margin: 0.5rem 0;
    padding: 1rem;
    font-size: 1.6rem;
    border: none;
    outline: none;
    border-radius: 3px;
    background: #3d434a;
    color: white;

}

.submit{
    margin: 4rem 0 2rem 0;
    background: #2b6953;
    /* background: #54b693;
    background: #3c9273; */
    color: white;
    width: 90%;
    padding: 1rem;
    font-size: 1.6rem;
    cursor: pointer;
    border: none;
    border-radius: 3px;
    font-weight: 600;
    outline: none;

}

.submit:hover{
    background: #3c9273;
}

.link{
    margin-top: 2rem;
    margin-bottom: 3rem;
    font-size: 1.6rem;
    color:white;
    cursor:pointer;
    text-decoration:none;
}

.link:hover{
    text-decoration: underline;
}

.error{
    border: 1px solid red;
}