
.sidebar{

    width: 300px;
    height: 100vh;
    position:fixed;
    background: #21232b;
    top: 64px;
    right: 0;
    transition: 0.5s;
    padding: 1rem 3rem;
}



.close{
    transform: translateX(100%);
}

.personDetails{
    display: flex;

}

.personImg{
    width: 10rem;
    height: 10rem;
    border-radius: 3px;
    /* background: white; */
}
.img{
    width: 100%;
    height: 100%;
}
.message{
    align-self:center;
    margin-left: 2rem;
    font-size: 2rem;
    color: white;
}




.name{
    font-weight:600;
}

.btns{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-top: 3rem;
}

.btn{
    font-size: 2rem;
    font-weight: 500;
    margin: 1rem 1rem;
    cursor: pointer;
    text-decoration: none;
    color: white;
}

.btn:hover{
    color: red;
}

.metrics{
     font-size: 2rem;
    font-weight: 400;
    margin: 5rem 1rem;
    color: white;
    
}
.metric{
    padding: 1rem 0;
}