
.register{
    width: 100%;
    display: flex;
    justify-content: center;
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10rem;
    box-shadow: 0 1rem 2rem rgba(0,0,0,0.5);
    width: 50%;
    padding: 3rem 5rem;
}

.heading{
    margin: 0rem 0 3rem 0;
    font-size: 3rem;
}

.input{
    width: 90%;
    margin: 1rem 0;
    padding: 1rem;
    font-size: 1.6rem;

}

.submit{
    margin: 4rem 0 2rem 0;
    background: green;
    color: white;
    width: 90%;
    padding: 1rem;
    font-size: 1.6rem;
    cursor: pointer;
}

.submit:hover{
    font-size: 1.5rem;
    font-weight: 600;
    background: rgba(0, 128, 0, 0.932);
}

.message{
    font-size: 1.4rem;
    padding: 1.5rem 0;
    text-align:center;
}