
.viewArticle{
    width: 100%;
    padding: 5rem 1rem;
    background: #2d3037;
    min-height: 100vh;
}

.article{
    display: flex;
    flex-direction: column;
    width: 80%;
    max-width: 800px;
    margin: 0 auto;
}

.authorDetails{
    display: flex;
    flex-direction: column;
    
}

.detailsContainer{
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    color: white;
}

.date{
    font-size: 1.4rem;
    align-self: center;
}

.likesContainer{
    display: flex;
}
.msc{
    font-size: 1.6rem;
    padding: 0.5rem 1rem;
    /* border: 1px solid white; */
    border-radius: 3px;
    margin: 0 0 0 0.5rem;
    background: black;
}

.authorContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.title{
    font-size: 2.5rem;
    margin: 1.5rem 0;
    
}


.author{
    font-size: 2rem;
    font-weight: 600;
    margin: 1rem;
    
}

.image{
  width: 100%;
  max-height: 50rem;
    
}


.desc {
    width: 100%;    
    font-size: 1.6rem;
    line-height: 2.2rem;
    margin-top: 1rem;
    color: white;
    
}


.btns{
    /* margin-top: 0rem; */
    display: flex;
    justify-content:flex-end;
}

.btn{
    margin: 1rem 0 0  1rem;
    /* width: 5rem; */
    text-align:center;
    font-weight: 600;
    font-size: 1.5rem;
    padding: 0.5rem 1rem;
    border: 1px solid black;
    border-radius: 3px;
    cursor: pointer;

}

.edit{
    color:yellow;
    background: transparent;
    border:1px solid white;
    text-transform: uppercase;
}

.edit:hover{
    color: darkblue;
    background: white;
}

.delete{
    color:red;
    border: 1px solid white;
    text-transform: uppercase;

}

.delete:hover{
    color: red;
    background: white;
}

.loading{
    text-align: center;
    margin-top: 10rem;
    color: white;
}

.likeBtnContainer{
     display: flex;
    justify-content:flex-end;
}

.likeBtn{
    
    margin: 1rem 0 0  1rem;
    /* width: 5rem; */
    text-align:center;
    font-weight: 600;
    font-size: 1.5rem;
    padding: 0.5rem 2rem;
    border: 1px solid white;
    border-radius: 3px;
    cursor: pointer;
    color: white;
    text-transform: uppercase;
    transition: 0.4s;
}
.likeBtn:hover{
    background: white;
    color: black;
}

.commentsLabel{
    color: white;
    padding: 5rem 0 0 0;
    font-size: 2rem;
    width: 80%;
    max-width: 800px;
    margin: 0 auto;
    font-weight: 600;
}
.commentSection{
    width: 80%;
    max-width: 800px;
    margin: 1rem auto;
    /* height: 50rem; */
     background: #21232b;
    
}

.commentBox{
    width: 100%;
    max-height: 30rem;
    /* background: green; */
    padding: 1rem;
    overflow: scroll;
}

.comment{
    margin-bottom: 1rem;
    color: white;
    display: flex;
    flex-direction: column;
}
.name{
    font-size: 1.8rem;

}
.commentDesc{
    padding: 1rem 0;
    font-size: 1.4rem;
}

.commentInput{
    width: 100%;
    /* height:25rem; */
    /* background: yellow; */
    padding: 1rem;
}

.textarea{
    width: 100%;
    height: 10rem;
    outline: none;    
    margin: 1rem 0;
    padding: 1rem;
    font-size: 1.6rem;
    border: none;
    border-radius: 3px;
    background: #3d434a;
    color: white;
    resize: none;
}

.submit{
    margin: 0rem 0 0rem 0;
    background: #2b6953;
    /* background: #54b693;
    background: #3c9273; */
    color: white;
    width: 100%;
    padding: 1rem;
    font-size: 1.6rem;
    cursor: pointer;
    border: none;
    border-radius: 3px;
    font-weight: 600;
    outline: none;

}

.submit:hover{
    background: #3c9273;
}

.deleteComment{
    color: red;
    margin: 0rem 2rem 1rem auto;
    font-size: 1.2rem;
    cursor: pointer;    
}
.deleteComment:hover{
    text-decoration: underline;
}