
.viewArticle{
    width: 100%;
    padding: 5rem;
}

.article{
    display: flex;
    flex-direction: column;
    align-items:center;
}

.authorDetails{
    display: flex;
    flex-direction: column;
    
}

.title{
    font-size: 3rem;
    margin: 1rem;
}

.author{
    font-size: 2rem;
    display: inline-block;
    margin-left: 1rem;
    font-weight: 600;
    margin: 1rem;
    
}

.image{
    width: 30rem;
    height: 20rem;
    margin: 3rem;
    
}


.paragraph{
    font-size: 1.8rem;
    padding: 0 5rem;
    line-height: 2.5rem;
}

.btns{
    /* margin-top: 0rem; */
    display: flex;
    justify-content:flex-end;
}

.btn{
    margin: 0 1rem;
    /* width: 5rem; */
    text-align:center;
    font-weight: 600;
    font-size: 1.5rem;
    padding: 0.5rem 1rem;
    border: 1px solid black;
    border-radius: 3px;
    cursor: pointer;

}

.edit{
    color:white;
    background: darkblue;
    border:1px solid darkblue;
}

.edit:hover{
    color: darkblue;
    background: white;
}

.delete{
    color:white;
    background: red;
    border:1px solid red;
}

.delete:hover{
    color: red;
    background: white;
}